* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(32, 33, 36);
    --secondary-color: rgb(255, 255, 255);
    --interactive-color: rgb(95, 99, 104);
    --interactive-color2: rgb(48, 49, 52);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--secondary-color);
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

/* ---- NAVBAR STYLES ----- */

header {
    width: 100%;
    height: 50px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: inherit;
}

header nav .nav__right-section {
    width: 200px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav__right-section a {
    margin-right: 10px;
}

nav .nav__right-section img {
    border-radius: 50%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

/* ---- MAIN CONTENT ----- */

main {
    margin-top: 150px;
    text-align: center;
}

main .main__logo {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main__logo img {
    width: 230px;
    height: 100%;
}

main .main__input {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main__input-container {
    width: 500px;
    border-radius: 100px;
    border: 1px solid var(--interactive-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main__input-container input {
    width: 430px;
    height: 36px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--secondary-color);
}

main .main__input-container:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0);
    background-color: var(--interactive-color2);
}

main .main__input .main__search-icon {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12px;
    height: 12px;
}

main .main__input .main__cam-icon {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main__buttons {
    width: 530px;
    margin: 0 auto;
}

main .main__buttons div {
    display: inline-block;
}

main .main__buttons button {
    height: 28px;
    width: 116px;
    border-radius: 4px;
    border: none;
    background-color: var(--interactive-color2);
    color: var(--secondary-color);
    font-size: 1.1em;
    margin: 0 5px;
    cursor: pointer;
}

main .main__buttons button:hover {
    border: 1px solid var(--interactive-color);
}

main .main__buttons p {
    color: rgb(166, 166, 166);
    margin-top: 20px;
}

main .main__buttons p a {
    color: rgb(138, 180, 248);
}

main .main__buttons p a:hover {
    text-decoration: underline;
}

/* ---- FOOTER ----- */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(23, 23, 23);
}

.footer__country {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-bottom: 1px solid rgb(60, 64, 67);
    margin-left: 5px;
}

.footer__options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__left {
    display: flex;
    justify-self: left;
    grid-column: 1 / 2;
    list-style: none;
    gap: 30px;
    padding: 10px;
    margin-left: 10px;
}

.footer__right {
    display: flex;
    justify-self: right;
    grid-column: 2 / 3;
    list-style: none;
    gap: 30px;
    padding: 10px;
    margin-right: 10px;
}

.footer__country ul li a,
.footer__left li a, 
.footer__right li a {
    color: rgb(166, 166, 166);
    font-size: 11px;
}

.footer__left li a:hover, 
.footer__right li a:hover {
    text-decoration: underline;
}

/* ----- MEDIA QUERIS ----- */


@media (max-width: 726px) {
    .footer__options {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer__left, .footer__right {
        grid-column: 1 / 1;
        margin: 0;
    }

    .footer__right {
        justify-self: left;
    }
    main .main__input {
        width: 416px;
    }

    main .main__buttons {
        width: 416px;
    }

    main .main__input-container {
        width: 416px;
        padding: 0 14px;
    }
}